body {
	font-family: Garamond;
}
#g {
	background-color: #3CB371;
	color: white;
	padding: 10px;
	font-size: 130%;
	text-align: center;
}
#l {
	background-color: #FAEBD7;
	height: 450px;
	width: 55%;
	float: left;
}
#p {
	background-color: #FAEBD7;
	height: 450px;
	width: 45%;
	float: left;
}
footer {
	background-color: #3CB371;
	color: white;
	padding: 10px;
	font-size: 130%;
    text-align: center;
}
img {
	padding: 3px;
	margin: 15px;
	border: 2px;
	border: #3CB371;
	border-style: dashed;
}
