body {
margin-left: 10%;
margin-right: 10%;
background-color: #666666;
font-family: Marker Felt;
}
a.menu {
background-color: #675FFF;
float: left;
width: 50%;
color: black;
font-size: 35px;
text-align: center;
}
a.menu:hover {
background-color: blue;
}
h3 {
border-bottom: 3px solid #000066;
font-size: 25px;
color: black;
text-align: center;
}
#stopka {
text-align: right;
color: black;
font-size: 16px;
}
li {
font-size: 20px;
}
h1 {
	text-align: center;
	color: white;
	font-size: 25px;
}
