header {
	background: #4E885C;
	color: oragne;
	text-align: center;
	height: 110px;
}
#l {
	background: #72A37D;
	width: 30%;
	height: 300px;
        float: left;
}
#s {
	background: url("pizza.png") no-repeat #A2C3A9;
	width: 40%;
	height: 300px;
        float: left;
}
#p {
	background: #72A37D;
	text-align: center;	
	width: 30%;
	height: 300px;
        float: left;
}
#d {
	background: #A2C3A9;
	text-align: center;
	height: 250px;
        clear: both;
}
footer {
	background: #4E885C;
	color: orange;
}
#p a {
	background: oragne;
	color: green;
	padding: 15px;
}