body {
background-color: #00CC99;
}

article h1 {
float: middle;
text-align: center;
font-size: 40px;
}

article {
background-color: #33FFFF;
}

a.menu {
background-color: #33FFFF;
display: inline-block;
width: 33%;
color: black;
font-size: 30px;
text-align: center;
}
  
 
a.menu:hover {
background-color: #6666FF;
}

footer h5 {
background-color: #33FFFF;
text-align: right;
}
