body {
margin-left: 10%;
margin-right: 10%;
background-color: white;
font-family: Marker Felt;
background: url("tlo.jpg") no-repeat center fixed;
}
a.menu {
background-color: rgba(69,189,255,0.5);
float: left;
width: 50%;
color: black;
font-size: 35px;
text-align: center;
}
a.menu:hover {
background-color: rgba(69,189,255,0.8) ;
}
h3 {
font-size: 25px;
color: black;
text-align: center;
background-color: rgba(255,255,255,0.6);
}
#stopka {
text-align: right;
color: black;
font-size: 16px;
}
li {
font-size: 20px;
background-color: rgba(255,255,255,0.6);
}
h1 {
text-align: center;
color: black;
font-size: 40px;
background-color: rgba(255,255,255,0.6);
}
h6 {
text-align: center;
font-size: 50px;
}
img.displayed {
display: block;
margin-left: auto;
margin-right: auto;
}
h2 {
background-color: rgba(255,255,255,0.6);
}
p {
background-color: rgba(255,255,255,0.6);
