body {
font-family: Marker Felt;
background: #66FF99;
}

#glowny {
padding: 15px;
}

#stopka {
text-align: right;
color: black;
}

a.menu {
background-color: #99CCFF;
float: left;
width: 50%;
color: black;
font-size: 30px;
text-align: center;
}

a.menu:hover {
background-color: blue;
}

li {
font-size: 21px;
color: black;	
}

h2 {
color: black;
}

h3 {
border: 3px solid #000066;
font-size: 25px;
}
