body {
	margin: 0;
}
.lewy {
	width: 40%;
	height: 600px;
	background-color: #FF8989;
	float: left;
}
.prawy {
	width: 60%;
	height: 600px;
	background-color: #7872D9;
		float: left;
}
.stopka {
	background-color: black;
	color: white;
	line-height: 150%;
	clear: both;
	text-align: right;
}
table, td {
	margin: 20px;
	padding: 30px;
	border: 2px solid brown;
	border-collapse: collapse;
}
button {
	padding: 10px;
	margin: 10px;
	border: 2px solid blue;
	background-color: cyan;
	font-size: 20px;
}
h1 {
	text-align: center;
}