body {
	font-family: Helvetica;
	margin: 0;
	padding: 0;
}
#lewy{
	width: 70%;
	float: left;
}
#prawy{
	width: 30%;
	float: left;
}
#lewy1{
	height: 400px;
	background-color: Snow;
	font-size: 150%;
	text-align: center;
}
#lewy2 {
	height: 400px;
	background-color: Snow;
	font-size: 150%;
}
#prawy1{
	height: 150px;
	background-color: SteelBlue;
	color: white;
	text-align: center;
}
#prawy2{
	height: 350px;
	background-color: SteelBlue;
	color: white;
	padding-left: 30px;
}
#prawy3{
	height: 300px;
	background-color: Snow;
	text-align: center;
}
#stopka{
	background-color: SteelBlue;
	color: white;
	clear: both;
}
h2 {
	font-size: 250%;
}
img{
	padding: 4px;
}
img:hover {
	padding: 3px;
	border: 1px solid SteelBlue;
}