#gora1 {
	background-color: DeepSkyBlue;
	height: 150px;
	font-size: 120%;
	text-align: center;
	width: 25%;
	float: left;
}
#gora2 {
	background-color: DeepSkyBlue;
	height: 150px;
	font-size: 120%;
	text-align: center;
	width: 75%;
	float: left;
}
#baner {
	background-color: Tomato;
	text-align: center;
	height: 50px;
	width: 100%;
	float: left;
}
#glowny1 {
	background-color: DeepSkyBlue;
	height: 350px;
	width: 50%;
	float: left;	
}
#glowny2 {
	background-color: DeepSkyBlue;
	height: 350px;
	width: 50%;
	float: left;	
}
#glowny2 button{
	background-color: Tomato;
	width: 15%;
}
#glowny2 input{
	background-color: Tomato;
}
h1 {
	color: Maroon;
}
table {
	height: 100px;
	width: 50%;
	margin-top: 50px;
}
tr {
	font-style: bold;
}
td {
	
}
#stopka {
	background-color: Tomato;
	text-align: center;
	height: 50px;
	width: 100%;
	float: left;
}
img.dwa {
	float: right;
    display: block;
	margin-top: 25px;
	margin-left: 15px;
	margin-right: 15px;	
}

img.trzy{
    float: left;
		margin-top: 25px;
	margin-left: 15px;
	margin-right: 15px;	
}
h2 {
	background-color: Tomato;
	width: 38%;
	font-size: 110%;
	text-align: center;
}
button {
	width: 38%;
	background-color: Tomato;
}